@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-BlackItalic.eot');
    src: url('SourceSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-BlackItalic.woff2') format('woff2'),
        url('SourceSansPro-BlackItalic.woff') format('woff'),
        url('SourceSansPro-BlackItalic.ttf') format('truetype'),
        url('SourceSansPro-BlackItalic.svg#SourceSansPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-LightItalic.eot');
    src: url('SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-LightItalic.woff2') format('woff2'),
        url('SourceSansPro-LightItalic.woff') format('woff'),
        url('SourceSansPro-LightItalic.ttf') format('truetype'),
        url('SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('SourceSansPro-SemiBoldItalic.eot');
    src: url('SourceSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
        url('SourceSansPro-SemiBoldItalic.woff') format('woff'),
        url('SourceSansPro-SemiBoldItalic.ttf') format('truetype'),
        url('SourceSansPro-SemiBoldItalic.svg#SourceSansPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}
